<header class="site-header">
  <a class="brand" href="{{ site.Home.RelPermalink }}" aria-label="Anthony Tumia home">
    <img src="{{ site.Params.profileImage }}" alt="">
    <span>Anthony Tumia</span>
  </a>
  <nav class="site-nav" aria-label="Primary">
    <a href="/portfolio/">Portfolio</a>
    <a href="/blog/">Blog</a>
    <a href="/contact/">Contact</a>
    <a rel="me" href="{{ (index (where site.Params.social `id` `mastodon`) 0).url }}" style="display: none;">Mastodon</a>
  </nav>
</header>
