<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ $title := cond .IsHome site.Title (printf "%s | %s" .Title site.Title) }}
{{ $description := .Description | default site.Params.description }}
{{ $image := "/assets/images/anthony-mark.svg" | absURL }}
{{ $schema := dict "@context" "https://schema.org" "@type" "Person" "name" site.Params.author "jobTitle" "Senior Application Developer" "address" (dict "@type" "PostalAddress" "addressLocality" "Sydney" "addressCountry" "AU") "description" $description "url" site.BaseURL }}
<title>{{ $title }}</title>
<meta name="description" content="{{ $description }}">
<meta name="robots" content="index, follow">
<meta name="theme-color" content="#f7f4ef">
<link rel="canonical" href="{{ .Permalink }}">
<link rel="icon" href="/assets/images/anthony-mark.svg" type="image/svg+xml">
<meta property="og:site_name" content="{{ site.Title }}">
<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $description }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:image" content="{{ $image }}">
<meta property="og:locale" content="en_AU">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ $title }}">
<meta name="twitter:description" content="{{ $description }}">
<script type="application/ld+json">
{{ $schema | jsonify (dict "indent" "  ") | safeJS }}
</script>
{{ partialCached "head/css.html" . }}

